<a href="https://colab.research.google.com/github/19PA1A0466/IPS/blob/master/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.model_selection import train_test_split 
from sklearn import metrics

In [0]:
knn=pd.read_csv('students_placement_data.csv')

In [0]:
print(knn)

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
knn.head()

   Roll No Gender  ... registered_for_ Placement_Training  placement status
0        1      M  ...                                 NO        Not placed
1        2      F  ...                                yes            Placed
2        3      F  ...                                yes        Not placed
3        4      M  ...                                yes        Not placed
4        5      M  ...                                yes        Not placed

[5 rows x 9 columns]

In [0]:
X=knn[['SSC Percentage','inter_Diploma_percentage']] 
y=knn['B.Tech_percentage'] 
type(y)

pandas.core.series.Series

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [0]:
model = KNeighborsRegressor(n_neighbors=2,p=1)

In [0]:
model.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=2, p=1,
                    weights='uniform')

In [0]:
knn=knn.rename(columns={"B.Tech_percentage":"B.Tech"	}) 
knn

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [0]:
predicted_BTech_marks=model.predict(X_test)
predicted_BTech_marks

array([56.845, 76.575, 52.9  , 60.485, 61.85 , 47.64 , 67.59 , 57.51 ,
       69.19 , 62.34 , 71.9  , 53.44 , 71.795, 75.545, 69.19 , 51.   ,
       57.875, 57.365, 72.295, 67.59 , 71.025, 62.68 , 65.19 , 70.38 ])

In [0]:
Actual_predicted=pd.DataFrame({"Actual_B.Tech": y_test, "Predicted_B.Tech": predicted_BTech_marks})
Actual_predicted

     Actual_B.Tech  Predicted_B.Tech
10           71.49            56.845
59           81.10            76.575
95           62.98            52.900
91           68.70            60.485
7            61.02            61.850
86           60.53            47.640
26           61.00            67.590
112          35.84            57.510
22           68.30            69.190
94           69.62            62.340
101          83.38            71.900
2            45.26            53.440
50           78.00            71.795
24           54.18            75.545
116          65.53            69.190
62           52.00            51.000
93           51.00            57.875
74           73.13            57.365
61           74.30            72.295
73           63.41            67.590
16           70.01            71.025
108          55.70            62.680
13           74.96            65.190
43           70.85            70.380

In [0]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predicted_BTech_marks))

Mean Squared Error: 96.18642187499995

In [0]:
mse_val = [] 
for K in range(4): 
  K = K+1
  model = KNeighborsRegressor(n_neighbors = K)
  model.fit(X_train, y_train) 
  pred=model.predict(X_test) 
  error = metrics.mean_squared_error(y_test,pred) 
  mse_val.append(error) 
  print('MSE value for k= ' , K , 'is:', error)

MSE value for k=  1 is: 132.47814999999994
MSE value for k=  2 is: 89.74335833333332
MSE value for k=  3 is: 80.35485833333331
MSE value for k=  4 is: 91.89184921875